
.img{
	height: 720px;
}
.space{
	margin-top: 40px;
}
h4{
	margin-top: 40px;
	text-align: center;
}
.text{
margin-top: 0px;
    text-align: center;

}

.check{
	margin-top: 50px;
text-align:center; 

}

.radio{
	float: center;
	text-align:center;
}
.btn{
	text-align:center;
}